<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>护理会诊</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/nursedocuments.css">
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
	<div class="nurdocument">
		<div class="medrecord">
	        <div>
	        	<span>病区</span>
				<select name="" id="">
					<option value="">八病区</option>
				</select>
	        </div>
	        <div class="rigBtn">
	            <a class="layui-btn">查询</a>
	            <a class="layui-btn">打印</a>
	            <a class="layui-btn">打印预览</a>
	        </div>
	 	</div>
	 	<div>
	 		<table id="table"></table>
	 	</div>
	</div>
</body>
<script>
layui.use('table', function(){
  	var table = layui.table;
	table.render({
	    elem: '#table'
	    // ,url:'/demo/table/user/'
	    ,cols: [[
	      {field:'username', title: '姓名',align:'center'}
	      ,{field:'sex', title: '床号',align:'center'}
	      ,{field:'city', title: '住院序号',align:'center'}
	      ,{field:'city', title: '2019/4/17',align:'center'}
	      ,{field:'city', title: '2019/4/18',align:'center'}
	      ,{field:'city', title: '2019/4/19',align:'center'}
	      ,{field:'city', title: '2019/4/20',align:'center'}
	      ,{field:'city', title: '2019/4/21',align:'center'}
	      ,{field:'city', title: '2019/4/22',align:'center'}
	      ,{field:'city', title: '2019/4/23',align:'center'}
	    ]]
	  });
 });
</script>
</html>