<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>导管评估</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/nursedocuments.css">
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
	<div class="nurdocument">
		<div class="medrecord">
	        <div class="layui-form layAll">
	        	<span>床号</span>
				<!-- <select name="" id="">
					<option value=""></option>
				</select> -->
				<input type="radio" name="normal" title="有记录">有记录
				<input type="radio" name="normal" title="全部">全部
				<span>姓名：<input type="text" class="newInput"></span>
				<span>住院号：<input type="text" class="newInput"></span>
	        </div>
	        <div class="rigBtn">
	            <a class="layui-btn">添加</a>
	            <a class="layui-btn">打印</a>
	        </div>
	 	</div>
	 	<div class="center">
			<div class="marginTop align">日常生活活动能力（ADL）量表（Barthel指数）</div>
			<table class="tableList">
				<tr>
					<td colspan="2" rowspan="2">评分内容</td>
					<td rowspan="2">分数</td>
					<td colspan="7">评估日期（时间）</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td rowspan="3">进食</td>
					<td>完全独立</td>
					<td>10</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需部分帮助</td>
					<td>5</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需要极大帮助 </td>
					<td>0</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td rowspan="2">洗澡</td>
					<td>完全独立</td>
					<td>5</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需部分帮助</td>
					<td>0</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td rowspan="2">修饰</td>
					<td>完全独立</td>
					<td>5</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需部分帮助</td>
					<td>0</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td rowspan="3">穿衣</td>
					<td>完全独立</td>
					<td>10</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需部分帮助</td>
					<td>5</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需要极大帮助</td>
					<td>0</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td rowspan="3">控制大便</td>
					<td>完全独立</td>
					<td>10</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需部分帮助</td>
					<td>5</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需要极大帮助</td>
					<td>0</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td rowspan="3">如厕</td>
					<td>完全独立</td>
					<td>10</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需部分帮助</td>
					<td>5</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需要极大帮助</td>
					<td>0</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td rowspan="4">轮椅转动</td>
					<td>完全独立</td>
					<td>15</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需部分帮助</td>
					<td>10</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需要极大帮助</td>
					<td>5</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>完全依赖</td>
					<td>5</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td rowspan="4">平底行走45m</td>
					<td>完全独立</td>
					<td>15</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需部分帮助</td>
					<td>10</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需要极大帮助</td>
					<td>5</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>完全依赖</td>
					<td>5</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td rowspan="3">上下楼梯</td>
					<td>完全独立</td>
					<td>10</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需部分帮助</td>
					<td>5</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>需要极大帮助</td>
					<td>0</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				
			</table>
			<div>
				<p>结果分析：</p> 
				1、40分为重度依赖，生活全部需他人照护；  2、41~60分为中度依赖，生活大部分需他人照护；  
				3、61~99分为轻度依赖，生活少部分需他人照护；  4、100分为无需依赖，无需他人照护。  
 				<p>备注： </p> 
				1、病人入院或转入时立即进行一次评估。 2、病情变化时及时评估。 3、更改级别护理评估一次。  

			</div>
	 	</div>
	</div>
</body>
<script>
layui.use('form', function(){
  var form = layui.form;
 });
</script>
</html>