<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>血糖录入</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/nursedocuments.css">
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
	<div class="nurdocument">
		<div class="medrecord">
	        <div class="layui-form">
				<span>测量时间：
					<input type="radio" name="normal" title="标准时间点">标准时间点
					<input type="text" class="JobNumber">
					<!-- <select name="" id="">
						<option value="">11:00</option>
					</select> -->
				</span>
				<input type="radio" name="normal" title="自由时间点">自由时间点
				<input type="text" id="test" class="JobNumber">
			<!-- 	<select name="" id="">
					<option value="">10AM</option>
					<option value="">2AM</option>
				</select> -->
	        </div>
	        <div class="rigBtn">
	            <a class="layui-btn">查询</a>
	            <a class="layui-btn">编辑</a>
	            <a class="layui-btn layui-disabled">整体保存</a>
	        </div>
	 	</div>
	 	<table id="table"></table>
	</div>		
</body>
<script>
layui.use(['laydate','table','form'], function(){
  var laydate = layui.laydate;
  var table = layui.table;
  var form = layui.form;
 	laydate.render({ 
	  elem: '#test',
	});

	table.render({
	    elem: '#table'
	    // ,url:'/demo/table/user/'
	    ,cols: [[
	      {field:'id', title: '床号',align:'center'}
	      ,{field:'username', title: '姓名',align:'center'}
	      ,{field:'city', title: '上次测量时间',align:'center'}
	      ,{field:'city', title: '上次血糖',align:'center'}
	      ,{field:'sex', title: '血糖（mmol/L）',align:'center'}
	      ,{field:'city', title: '测定者',align:'center'}
	      ,{field:'city', title: '备注',align:'center'}
	    ]]
	  });
 });
</script>
</html>