<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>心脏介入记录</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/nursedocuments.css">
    <script src="~/Scripts/layui/layui.js"></script>
	<style>
	.left{ width:188px; }
	</style>
</head>
<body>
	<div class="nurdocument">
		<div class="medrecord">
	        <div class="layui-form layAll">
	        	<span>床号</span>
				<!-- <select name="" id="">
					<option value=""></option>
				</select> -->
				<input type="radio" name="normal" title="有记录">有记录
				<input type="radio" name="normal" title="全部">全部
				<span>姓名：<input type="text" class="newInput"></span>
				<span>住院号：<input type="text" class="newInput"></span>
	        </div>
	        <div class="rigBtn">
	            <a class="layui-btn">添加</a>
	            <a class="layui-btn">打印</a>
	        </div>
	 	</div>
	 	<div class="center">
			<table class="tableList">
				<tr>
					<td class="left">评估时间</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">拔鞘时间 </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">动脉穿刺口压迫起止时间 </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">动脉穿刺口敷料情况 </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">静脉穿刺口压迫起止时间 </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">静脉穿刺口敷料情况 </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">静脉穿刺口更换敷料时间</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">自觉症状（胸闷、胸痛等）</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">心率/脉率（次/分）</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">血压（mmHg）</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">呼吸（次/分） </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">血氧饱和度（%） </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">血心肌酶谱（正常/异常） </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">心电图（正常/异常）</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
					<tr>
					<td class="left">全身出血情况（有/无）</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
					<tr>
					<td class="left">指（趾）端血循、温觉 </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
					<tr>
					<td class="left">动脉搏动 </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">输液量(ml) </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">输液量(ml) </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">饮水量(ml) </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">尿量(ml) </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td class="left">评估者签名 </td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
			</table>
			<p class="marginTop" style="text-align: right">审核者（护士长、护理组长）：<span>张三</span></p>
	 	</div>
	</div>
</body>
<script>
layui.use('form', function(){
  var form = layui.form;
 });
</script>
</html>