
@{
    ViewBag.Title = "护士工作站";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
    <link href="~/Content/iconfont/iconfont.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/doctorIndex.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/vip_comm2.js"></script>
    <script src="~/Scripts/vip_nav.js"></script>
    <script type="text/javascript" src="~/Scripts/EMRBase.js"></script>
    <script src="~/Scripts/EWins.Base.js"></script>
    <style>
        .layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this {
            background: #EAEFF5!important;
            color: #3F88CF!important;
        }
        .layui-nav-itemed .layui-nav-child {
            height: 291px;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header my-header">
            <a href="index.html">
                <div class="my-header-logo">EMR 2.0 管理系统</div>
            </a>
            <div class="my-header-btn">
                <button class="layui-btn layui-btn-small btn-nav"><i class="iconfont icon-gongneng" style="font-size:25px !important;"></i></button>
            </div>
            <!-- 顶部左侧添加选项卡监听 -->
            <ul class="layui-nav" lay-filter="side-top-left"></ul>

            <!-- 顶部右侧添加选项卡监听 -->
            <ul class="layui-nav my-header-user-nav" lay-filter="side-top-right" style="margin-top:-16px;">
                <li class="layui-nav-item" style="color:#fff; margin:5px; cursor:pointer;padding: 0 0 0 10px;" id="msgs" onclick="opendiv()">
                    <i class="iconfont icon-xiaoxi1" style="font-size:21px; position: relative; top:8px; "></i>
                    <div style="width:17px; height:17px;background-color:#F00;border-radius:17px;position: relative; top:-44px; left:12px;">
                        <span id="msg_count" style="height:17px;line-height:17px;display:block;color:#FFF;text-align:center">4</span>
                    </div>
                </li>
                <li class="layui-nav-item" style="color:#fff;">
                </li>
                <li class="layui-nav-item">
                    <a class="name" style="color:#fff;    padding: 0 20px;" href="javascript:;" id="curUserName"></a>

                    <dl class="layui-nav-child layui-anim layui-anim-upbit">
                        <!-- 二级菜单 -->
                        <dd>
                            <a class="name" href="javascript:openuserinfo();" style="color:#000; padding: 0 10px;">
                                <i class="iconfont icon-bussinesscard"></i>
                                个人信息
                            </a>
                        </dd>
                        <dd>
                            <a class="name" href="javascript:openpasswordedit();" style="color:#000; padding: 0 10px;">
                                <i class="iconfont icon-survey1"></i>
                                修改密码
                            </a>
                        </dd>
                        <dd>
                            <a class="name" href="javascript:loginout();" style="color:#000; padding: 0 10px;">
                                <i class="iconfont">&#xe618;</i>
                                退出
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side my-side">
            <div class="layui-side-scroll" style="border:1px solid red">
                 @*左侧主菜单添加选项卡监听*@ 
                <ul class="layui-nav layui-nav-tree" lay-filter="side-main" id="funinfo" ></ul>
            </div>
        </div>
        <div class="layui-body my-body">
            <div class="header_log" id="divData">
                <ul class="logUls clearfix" >
                    <li style="width:12%;"><span>姓名：</span><p data-id="Name"></p></li>
                    <li style="width:10%;"><span>年龄：</span><p data-id="Age"></p>岁</li>
                    <li style="width: 10%;"><span>病案号：</span><p data-id="InpatientId"></p></li>
                    <li style="width: 8%;"><span>床号：</span><p data-id="BedNumber"></p></li>
                    <li style="width: 12%;"><span>住院：</span><p id="zyts"></p>天</li>
                    <li style="width: 14%;"><span>性质：</span><p style="width:60%;"></p></li>
                    <li style="width: 29%;"><span>诊断：</span><p data-id="Diagnosis" style="width:75%;"></p></li>
                    
                    
                </ul>
                <ul class="logUls clearfix">
                    <li style="width:12%;"><span>医保：</span><p data-id="PaymentTypeName" style="width:53%;"></p></li>
                    <li style="width: 14%;"><span>预缴款：</span><p data-id=""></p>元</li>
                    <li style="width: 13%;"><span>总额：</span><p data-id=""></p>元</li>
                    <li style="width: 13%;"><span>余额：</span><p></p>元</li>
                    <li style="width: 13%;"><span>自费：</span><p></p>元</li>
                    <li style="width: 14%;"><span>催款：</span><p></p>元</li>
                    <li style="width: 21%;"><span>催款时间：</span><p data-id="" tittle="nihoa" style="width:45%;"></p></li>
                </ul>
                
            </div>
            <div class="layui-tab layui-tab-card my-tab" lay-filter="card" lay-allowClose="true" sttle="margin-top:6px;" >
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="1"><span><i class="layui-icon">&#xe638;</i>病程记录</span></li>
                </ul>
                <div class="layui-tab-content" style="width:100%;height:100%;">
                    <div class="layui-tab-item layui-show" style="height:100%;"> 
                        <iframe id="iframe" src="~/page/DoctorPages/ProgressNoteList"></iframe> 
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-footer" style="background-color:#0A64A4;height:30px;line-height:30px;left:0px;width:100%;position:fixed;bottom:0;z-index:100;text-align:center;">Copyrights@杭州华卓科技有限公司</div>
    </div>
</body>


<script>
    $(function () {
        $(".layui-tab-content").height($(window).height() )
    })
    localStorage.log = 1;
    $("#curUserName").html(cookie.GetEMRUserCookie("api_token", "USERNAME"));
    EWinsBase.json("api/SystemSupport/user/GetUserFunInfo", {
        type: "POST",
        data: { userid: GetQueryString("EMRIDSIGN"), SYSID: GetQueryString("SYSID"), FUNLEVEL: 2 },
        dataType: "json",
        success: function (config, data) {
            if (data.code == 0) {
                var data = data.data;
                var outhtml = "";
                //无法多级，多级样式不一样
                var iIndex = 0;
                if (data) {
                    data.forEach(function (item, i) {
                        if (item.parentid == "58") {
                            outhtml += '<li class="layui-nav-item ' + (iIndex == 0 ? "layui-nav-itemed " : "") + '" onclick="navClick(this);"><a href="javascript:" style="border-bottom:1px solid #e6e6e6;" class="otherOne ' + (iIndex == 0 ? "addActive" : "") + '"><i class="layui-icon">&#xe620;</i>' + item.funname + '</a><dl class="layui-nav-child">';
                            data.forEach(function (item2, i) {
                                if (item2.parentid == item.funid) {
                                    var hrefUrl = "";
                                    if (item2.funpage != null) {
                                        //如果url带问号(本身带参数)，去掉search的问号连接url
                                        if (item2.funpage.indexOf('?') > 0) { hrefUrl += item2.funpage + "&" + location.search.substring(1, location.search.length - 1); }
                                        else { hrefUrl += item2.funpage + location.search; }
                                    }
                                    outhtml += '<dd  class="addColor"><a href="javascript:;" style="border-bottom: 1px solid #f2f2f2;" href-url="' + hrefUrl + '"><i class="layui-icon">&#xe621;</i>' + item2.funname + '</a></dd>';
                                }
                            })
                            outhtml += '</dl></li>';
                            iIndex++;
                        }
                    });
                }
                $("#funinfo").html(outhtml);
                if (layui.element)
                    layui.element.init();
            }
        }
    });
    EWinsBase.json("api/Doctor/MedicalRecordHomePage/GetInpatientInfoById", {
        data: { "InpatientId": GetQueryString("InpatientId") },
        type: "POST",
        async: false,
        usedCache: false,
        success: function (config, data) {
            EWinsBase.setDataModel($("#divData [data-id]"), data.data);
            $("#zyts").html(DateDiff(data.data.EntryTime.ToString("yyyy-MM-dd")));
            $("title").html(data.data.Name);
        },
        error: function (error) {
        }
    })



    $(document).on('click', '#funinfo .layui-nav-item', function () {
        alert(111)
        $(this).siblings().children(".otherOne").removeClass("addActive")
        $(this).children(".otherOne").addClass("addActive")
       

    })
    layui.use(['element', 'layedit', 'table'], function () {
        var table = layui.table,
          layedit = layui.layedit,
          element = layui.element;
    });
    function navClick(obj) {
        $(".layui-tab-item ").height($(window).height())
        $(".layui-nav-item").each(function (i, item) {
            if (item != obj)
                $(item).removeClass('layui-nav-itemed');
            else {
              
                $(obj).addClass('layui-nav-itemed');
            }
        });
        $(".layui-tab-title").css("display", "block");
    }

    //退出
    function loginout() {
        layer.confirm('是否确定要退出系统？', function (index, layero) {
            location.href = __curHostAddress + 'login';
            cookie.delete("api_token");
        });
    }
    //打开用户个人信息
    function openuserinfo() {
        ShowWin('修改个人信息', 'page/PublicPages/UserInfoEdit?UserID=' + GetQueryString("EMRIDSIGN"), 800, 500)
    }
    //修改密码
    function openpasswordedit() {
        ShowWin('修改密码', 'page/PublicPages/UserPassWordEdit?UserID=' + GetQueryString("EMRIDSIGN"), 450, 300)
    }
    function DateDiff(sDate) {    //sDate1和sDate2是xxxx-xx-xx格式  
        var sdate = new Date(sDate.replace(/-/g, "/"));
        var now = new Date();
        var days = now.getTime() - sdate.getTime();
        var day = parseInt(days / (1000 * 60 * 60 * 24));
        return day;
    }
</script>
</html>