<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
	<link rel="stylesheet" href="~/Content/reset.css">
	<link rel="stylesheet" href="~/Content/nursedocuments.css">
</head>
<body>
	<div class="nurdocument">
		<div class="medrecord">
	     	<p class="word">入院评估单</p>
		    <div class="rigBtn">
		    	<a class="layui-btn">编辑</a>
		        <a class="layui-btn">打印</a>
		    </div>
	 	</div>
	 	<div class="nurViews">
			<h2 class="nurHeader">入院评估单</h2>
			<p class="figure">基本信息</p>
			<div class="baseInfor clearfix">
				<div class="baseList">
					<p>姓名：<span>马默默</span></p>
					<p>年龄：<span>20</span></p>
				</div>
				<div class="baseList">
					<p>性别：<span>女</span></p>
					<p>科室：<span>脑外科重症室</span></p>
				</div>
				<div class="baseList">
					<p>床号：<span>2019</span></p>
					<p>籍贯： <span>杭州</span></p>
				</div>
				<div class="baseList">
					<p>住院号：<span>01025</span></p>
					<p>入科时间：<span>2015-08-09</span></p>
				</div>
			</div>
			<div class="sec">
				<p class="addW">入院诊断：</p>
				<div>中医：2.肺部感染（气管切开术后） 3.呼吸衰竭 4.循环衰竭 5.房颤 6.糖尿病 7.高血压 8.房室传导阻滞</div>
				<div>西医：2.肺部感染（气管切开术后） 3.呼吸衰竭 4.循环衰竭 5.房颤 6.糖尿病 7.高血压 8.房室传导阻滞</div>
				<p>入院方式：<span>平车</span></p>
			</div>
			<div class="third">
				<div class="clearfix">
					<div class="thirdUp fl">患者电话：<span>18000000</span></div>
					<div class="thirdUp fl">地址：<span>保密</span></div>
				</div>
				<div class="clearfix">
					<div class="thirdDo fl">压疮评分：<span></span>分</div>
					<div class="thirdDo fl">跌倒/坠床评分：<span></span>分</div>
					<div class="thirdDo fl">ADL评分：<span></span>分</div>
				</div>
				<div>过敏史：<span>未发现</span></div>
				<div>既往史：<span>未发现</span></div>
				<div>曾做过手术：<span>未发现</span> 家庭史：<span></span></div>
				<div class="clearfix">
					<div class="thirdUp fl">既往疼痛体验：<span></span></div>
					<div class="thirdUp fl">既往止痛用药史：<span></span></div>
				</div>
			</div>
			<div class="fourDiag">
				<p class="figure">中医四诊</p>
				<p class="addW">生命体征：</p>
				<div class="clearfix">
					<div class="baseList">
						<p>T: <span>37℃</span></p>
					</div>
					<div class="baseList"><p>P: <span>143次/分</span></p></div>
					<div class="baseList"><p>R: <span>52次/分</span></p></div>
					<div class="baseList"><p>BP: <span>67/38mmHg</span></p></div>
				</div>
				<div>体重：<span></span>Kg</div>
				<p class="addW">（一）望诊：</p>
				<div >
					<div class="clearfix">
						<div class="thirdDo">1、神志：<span>昏迷</span></div>
						<div class="thirdDo">2、形态：<span>医疗疾病限制</span></div>
						<div class="thirdDo">3、面色：<span>无光泽</span></div>
					</div>
					<div>4、皮肤： <span></span></div>
					<div class="clearfix">
						<div class="thirdUp">舌象：（1）舌质：<span>淡红</span></div>
						<div class="thirdUp">（2）舌苔：<span></span></div>
					</div>
				</div>
				<p class="addW">（二）闻诊：</p>
				<div>
					<div class="clearfix">
						<div  class="baseList">1、语言：<span></span></div>
						<div class="baseList">2、呼吸：<span></span></div>
						<div class="baseList">3、气味：<span></span></div>
						<div class="baseList">4、咳嗽：<span></span></div>
					</div>
					<div>5、痰质：<span></span></div>
				</div>
				<div>
					<p class="addW">（三）问诊：</p>
					<div class="clearfix">
						<div class="baseList">
							<p>1、嗜好：<span></span></p>
							<p>5、大便：<span></span></p>
						</div>
						<div class="baseList">
							<p>2、饮食：<span></span></p>
							<p>6、小便：<span></span></p>
						</div>
						<div class="baseList">
							<p>3、口渴：<span></span></p>
							<p>7、听力：<span></span></p>
						</div>
						<div class="baseList">
							<p>4、睡眠：<span></span></p>
							<p>8、视力：<span></span></p>
						</div>
					</div>
				</div>
				<div>
					<p class="addW">（四）切诊：</p>
					<div class="clearfix">
						<div class="thirdUp">1、脉象：<span>和缓有力</span></div>
						<div class="thirdUp">2、脘腹：<span>正常</span></div>
					</div>
				</div>
				<div>
					<p class="figure">社会评估</p>
					<div class="clearfix">
						<div class="baseList">
							<p>民族：<span>汉</span></p>
							<p>子女：<span>1男1女</span></p>
							<p>吸烟：<span>吸</span></p>
							<p>联系人：<span>某某</span></p>
						</div>
						<div class="baseList">
							<p>职业：<span></span></p>
							<p>宗教信仰：<span></span></p>
							<p>饮酒：<span></span></p>
							<p>联系电话：<span></span></p>
						</div>
						<div class="baseList">
							<p>文化程度：<span></span></p>
							<p>费用类别：<span></span></p>
							<p>吸毒：<span></span></p>
							<p>与患者关系：<span></span></p>
						</div>
						<div class="baseList">
							<p>婚姻状况：<span></span></p>
							<p>社会支持：<span></span></p>
						</div>
					</div>
				</div>
				<div>
					<p class="figure">出院计划</p>
					<div class="clearfix">
						<div class="thirdUp">
							<p>出院计划：<span></span></p>
							<p>出院后去处：<span></span></p>
						</div>
						<div class="thirdUp">
							<p>出院后照料者：<span></span></p>
							<p>交通工具：<span></span></p>
						</div>
					</div>
				</div>
				<div>
					<p class="figure">资料来源</p>
					<div>资料来源：<span></span></div>
					<div>
						责任护士签名: <span style="margin:0 15px"></span>
						护士长(护士组长)审签：<span style="margin:0 15px"></span>
						评估时间：<span></span>
					</div>	
				</div>
			</div>
	 	</div>
	</div>
</body>
</html>