<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
	<link rel="stylesheet" href="~/Content/reset.css">
	<link rel="stylesheet" href="~/Content/nursedocuments.css">
</head>
<body>
	<div class="nurdocument">
		<div class="medrecord">
	        <p class="word">产后护理记录单</p>
	        <div class="rigBtn">
	            <a class="layui-btn">添加</a>
	            <a class="layui-btn">添加护理补充</a>
	            <a class="layui-btn">打印</a>
	        </div>
	 	</div>
	    <div class="nurContent">
	    	<table class="tableList postpartum">
		    	<tr>
			        <td class="lineTd clearfix" rowspan="2">
			            <span style="float:left;margin-top:20px;">项目</span>
			            <span style="float:right;">日期时间</span>
			        </td>
			        <td>数据</td>
			        <td>数据</td>
			        <td>数据</td>
			        <td>数据</td>
			        <td>数据</td>
			        <td>数据</td>
			        <td>数据</td>
			    </tr>
			    <tr>
			        <td></td>
			        <td></td>
			        <td></td>
			        <td></td>
			        <td></td>
			        <td></td>
			        <td></td>
			    </tr>
			    <tr>
					<td rowspan="3">
						乳房
						<div>
							乳汁 A无 B少 C多
						乳汁 A无 B少 C多
						乳汁 A无 B少 C多
						</div>
						
					</td>
					<td>

					</td>
					<td colspan="2"></td>
					<td></td>
			        <td></td>
			        <td></td>
			        <td></td>
			    </tr>
			   <!--   <tr>
					<td>乳汁</td>
					<td colspan="2">A无 B少 C多</td>
					<td></td>
			        <td></td>
			        <td></td>
			        <td></td>
			    </tr> -->
			</table>
	    </div>

	</div>
</body>
</html>