<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
	<link rel="stylesheet" href="~/Content/reset.css">
	<link rel="stylesheet" href="~/Content/nursedocuments.css">
</head>
<body>
	<div class="nurdocument">
		<div class="medrecord">
	        <p class="word">院内护理会诊单</p>
	        <div class="rigBtn">
	            <a class="layui-btn">打印</a>
	        </div>
	 	</div>
	 	<div class="nurContent">
			<table class="tableList">
				<tr>
					<td>时间</td>
					<td>BP mmHg</td>
					<td>胎动 次/H</td>
					<td>胎心 次/分</td>
					<td>
						<p>宫缩</p>
						<p style="border:none"><span class="left">持续/间隙</span><span>强度</span></p>
					</td>
					<td>宫口	cm</td>
					<td>羊水ml</td>
					<td>先露高低</td>
					<td>宫颈评分</td>
					<td>
						<p>特殊用药</p>
						<p style="border:none"><span class="left">500ml液体中含单位</span><span>滴/分</span></p>
					</td>
					<td>备注</td>
					<td>签名</td>
					<td>操作</td>
				</tr>
			</table>
	 	</div>
	</div>
</body>
</html>