@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_List_Layout.cshtml";
}
<link href="~/Content/iconfont/iconfont.css" rel="stylesheet" />
<div class="my-btn-box">
    <div class="container">
        <div class="choseBtn" >
            <div class="icon_left aList" >
                <a class="btn-add btn-default" id="btn-add">
                    <i class="layui-icon colorAdd">&#xe61f;</i>添加
                </a>
                <a class="btn-add btn-default" id="btn-edit">
                    <i class="iconfont btn-edit">&#xe74e;</i>编辑
                </a>
                <a class="btn-add btn-default" id="btn-role">
                    <i class="layui-icon btn-role">&#xe770;</i>用户组
                </a>
                <a class="btn-add btn-default" id="btn-sysapp">
                    <i class="layui-icon btn-sysapp">&#xe857;</i>系统模块
                </a>
               
                <a class="layui-btn-danger radius btn-delect" id="btn-delete" >
                    <i class="layui-icon btn-delete">&#xe640;</i>删除
                </a>
                <input type="hidden" id="hdnCurRowId" value="" />
            </div>
            <div class="icon_right" >
                <div class="layui-form-item fl">
                    <label class="layui-form-label index_label">搜索条件</label>
                    <div class="layui-input-block">
                        <input type="text" autocomplete="off" id="keyword" placeholder="请输入用户名称" class="layui-input index_input">
                    </div>
                </div>
                <a class="layui-btn mgl-20 fl" id="btQuery">
                    <i class="iconfont">&#xe6ac;</i>
                    查询
                </a>
            </div>
        </div>
    </div>
</div>


<div id="dateTable" lay-filter="dateTable"></div>

<!-- js -->
<script type="text/javascript">
    // layui方法
    layui.use(['table', 'form', 'layer', 'vip_table'], function () {
        // 操作对象
        var form = layui.form
                , table = layui.table
                , layer = layui.layer
                , vipTable = layui.vip_table
                , $ = layui.jquery;
        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , height: vipTable.getFullHeight()-20   //容器高度
            , cols: [[                  //标题栏
                { checkbox: false, sort: false, fixed: false, space: true }
                , { field: 'userid', title: '用户序号', width: '90', align: 'center' }
                , { field: 'usercode', title: '用户编号', width: '90', align: 'center' }
                , { field: 'username', title: '用户名称', width: '20%', align: 'center' }
                , { field: 'jobname', title: '职位', width: '120', align: 'center' }
                , { field: 'joblevelname', title: '职位等级', width: '120', align: 'center' }
                , { field: 'logintime', title: '最后登录时间', width: '130', align: 'center', templet: function (item) { return $.ParseDate(item.logintime);}}
                , { field: 'modifytime', title: '创建时间', width: '130', align: 'center', templet: function (item) { return $.ParseDate(item.modifytime);}}
                , { field: 'iscancename', title: '状态', width: '90', align: 'center' }
            ]]
            , id: 'dataCheck'
            , url: EWinsBase.__curHostAddress+'api/SystemSupport/user/GetAllUser?token=' + EWinsBase.Token
            , method: 'post'
            , page: true
            , limits: [mylimit, 50, 100, 150]
            , limit: mylimit
            , loading: false
            , done: function (res, curr, count) {
                //加载表格后进行初始化
                EWinsBase.ValidateToken(res);
                $("#hdnCurRowId").val("");
            }
        });
        //监听行单击事件（单击事件为：rowDouble）
        table.on('row(dateTable)', function (obj) {
            var data = obj.data;
            $("#hdnCurRowId").val(data.userid);
            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });
        //监听行双击事件
        table.on('rowDouble(dateTable)', function (obj) {
            var data = obj.data;
            $("#hdnCurRowId").val(data.userid);
            ShowWin('修改用户', 'page/SystemSupportPages/UserEdit?userid=' + $("#hdnCurRowId").val(), 800, 600)
            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });
        //添加按钮事件
        $('#btn-add').on('click', function () {
            ShowWin('添加用户', 'page/SystemSupportPages/UserEdit', 800, 600)
        });
        //编辑按钮事件
        $('#btn-edit').on('click', function () {
            if ($("#hdnCurRowId").val() == "") {
                layer.msg("请选择要操作的行", { icon: 5 });
                return;
            }
            ShowWin('修改用户', 'page/SystemSupportPages/UserEdit?userid=' + $("#hdnCurRowId").val(), 800, 600)
        });
        //查询按钮事件
        $('#btQuery').on('click', function () {
            tableIns.reload({
                where: { keyword: $("#keyword").val() }//这里传参  向后台
                , method: 'post'
            });
        });
        //刷新按钮事件
        $('#btn-refresh').bind('click', function () {
            tableIns.reload({
                where: { keyword: $("#keyword").val(), token: EWinsBase.Token }//这里传参  向后台
                , method: 'post'
            });
        });
        //删除事件
        $('#btn-delete').on('click', function () {
            if ($("#hdnCurRowId").val() == "") {
                layer.msg("请选择要操作的行", { icon: 5 });
                return;
            }
            layer.confirm('是否确认要删除该条信息？', function (index) {
                EWinsBase.ajax({
                    url:"api/SystemSupport/user/DeleteUser",
                    type: "POST",
                    data: { "userid": $("#hdnCurRowId").val() },
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg("删除成功", { icon: 6 });
                            tableIns.reload();
                        } else {
                            layer.msg("删除失败", { icon: 5 });
                        }
                    }
                });
            });
        });
    });


    //用户组弹出框
    $('#btn-role').on('click', function () {
        if ($("#hdnCurRowId").val() == "") {
            layer.msg("请选择要操作的行", { icon: 5 });
            return;
        }
        ShowWin('关联用户组', 'page/SystemSupportPages/UserRole?userid=' + $("#hdnCurRowId").val(), 800, 600)
    });

    //系统模块弹出框
    $('#btn-sysapp').on('click', function () {
        if ($("#hdnCurRowId").val() == "") {
            layer.msg("请选择要操作的行", { icon: 5 });
            return;
        }
        ShowWin('关联系统模块', 'page/SystemSupportPages/UserSysApp?userid=' + $("#hdnCurRowId").val(), 800, 600)
    });

    //刷新按钮事件
    function refreshTable() {
        layui.table.reload("dataCheck", {
            where: { keyword: $("#keyword").val(), token: EWinsBase.Token }//这里传参  向后台
                , method: 'post'
        });
    }
</script>
