@{
    ViewBag.Title = "用户编辑";
    Layout = "~/Views/Shared/_Edit_Layout.cshtml";
}
<link href="~/Content/iconfont/iconfont.css" rel="stylesheet" />
<div id="action_subm">
    <div class="icon_lefts fr">
        <div class="layui-form-item fl">
            <label class="index_search">搜索条件</label>
            <div class="layui-input-block">
                <input type="text" autocomplete="off" id="keyword" placeholder="请输入用户组名称" class="layui-input" style="margin-top: -34px;">
            </div>
        </div>
        <a class="layui-btn mgl-20  searchBtn fl" id="btQuery">
            <i class="iconfont">&#xe6ac;</i>
            查询
        </a>
    </div>
    <div class="submEdit">
        <div id="dateTable" lay-filter="dateTable"></div>
    </div>
    <div class="lastBtn">
        <button class="layui-btn" lay-submit="" lay-filter="sub"><i class="iconfont" style="margin-right:2px;font-size:15px;">&#xe688;</i>保存</button>
        <button class="layui-btn" onclick="ShowWinClose();"><i class="iconfont" style="margin-right:2px;">&#xe63e;</i>关闭</button>
    </div>
</div>
<script>
    PopupPageInit();
    var userid = GetQueryString("userid");
    layui.use(['table', 'form', 'vip_table'], function () {
        // 操作对象
        var form = layui.form
                , table = layui.table
                , vipTable = layui.vip_table;

        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , height: vipTable.getFullHeight() - 100    //容器高度
            , cols: [[
                { type: 'checkbox' }
                ,{ field: 'SYSID', title: '系统代码', width: '90', align: 'center' }
                , { field: 'OrganID', title: '机构代码', width: '90', align: 'center',hide:true }
                , { field: 'SYSName', title: '系统名称', width: '150', align: 'left' }
                , { field: 'ShortName', title: '系统简称', width: '150', align: 'left' }
                , { field: 'SYSNote', title: '系统说明', width: '30%', align: 'left' }
            ]]
            , id: 'dataCheck'
            , url: EWinsBase.__curHostAddress + 'api/SystemSupport/user/GetUserSys?userid=' + userid + '&token=' + EWinsBase.Token
            , method: 'get'
            , page: true
            , limits: [mylimit, 50, 100, 150]
            , limit: mylimit
            , loading: false
            , done: function (res, curr, count) {
                EWinsBase.ValidateToken(res);
            }
        });

        form.on('submit(sub)', function (data) {
            var user_sysapp_check = "";
            var checkStatus = table.checkStatus('dataCheck');
            $(checkStatus.data).each(function (i, item) {
                user_sysapp_check += item.SYSID + ",";
            });
            data.field["USERID"] = userid;
            data.field["user_sysapp_check"] = user_sysapp_check;
            EWinsBase.ajax({
                url: "api/SystemSupport/user/SaveUserSys",
                type: "POST",
                data: data.field,
                dataType: "json",
                success: function (data) {
                    layer.msg(data.msg, { time: 1000 },
                        function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }
                    );
                }
            });
            return false;
        });
    });
    
</script>