<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知情同意书</title>
	<link rel="stylesheet" href="~/Content/layui/css/layui.css">
	<link rel="stylesheet" href="~/Content/reset.css">
	<link rel="stylesheet" href="~/Content/informed.css">
    <script src="~/Script/layui/layui.js"></script>
</head>
<body>
    <div class="informedConsent">
        <div class="informedList">
            <div class="informDiv first_ clearfix">
                姓名：<input name="0" type="text">
                性别：<input name="1" type="text">
                年龄：<input name="2" type="text">
                住院号：<input name="3" type="text">
            </div>
            <div class="informDiv">
                术前名称：<input name="4" type="text">
            </div>
            <div class="informDiv">
                手术名称：<input name="5" type="text">
            </div>
            <div class="layui-form consentDiv">
                <div class="first_ clearfix">
                    术前准备：备皮：<input name="6" type="checkbox" title="皮试" lay-skin="primary">皮试
                    (药品：<input name="7" type="text">)
                </div>
                <div class="clearfix">
                    术前禁食：
                    <input name="8" type="checkbox" title="无" lay-skin="primary">
                    <input name="9" type="checkbox" title="有" lay-skin="primary">
                    术前排便：
                    <input name="10" type="checkbox" title="无" lay-skin="primary">
                    <input name="11" type="checkbox" title="有" lay-skin="primary">
                </div>
                <div class="clearfix">
                    活动假牙：
                    <input name="12" type="checkbox" title="无" lay-skin="primary">
                    <input name="13" type="checkbox" title="有" lay-skin="primary">
                    (<input name="14" type="checkbox" title="已取" lay-skin="primary">
                    <input name="15" type="checkbox" title="未取" lay-skin="primary">)
                </div>
                <div>
                    <p>
                        术前意识：
                        <input name="16" type="checkbox" title="清楚" lay-skin="primary">
                        <input name="17" type="checkbox" title="嗜睡" lay-skin="primary">
                        <input name="18" type="checkbox" title="谵想" lay-skin="primary">
                        <input name="19" type="checkbox" title="昏迷" lay-skin="primary">
                        <input name="20" type="checkbox" title="浅昏迷" lay-skin="primary">
                        <input name="21" type="checkbox" title="深昏迷" lay-skin="primary">
                    </p>
                    <div class="clearfix">
                        <p class="fl">瞳孔：</p>
                        <p class="fl first_">
                            左：<input name="22" type="text">
                            右：<input name="23" type="text">
                        </p>
                    </div>
                </div>
                <div class="first_ clearfix">
                    生命体征：
                    T: <input name="24" type="text">℃
                    P: <input name="25" type="text">次/分
                    R: <input name="26" type="text">次/分
                    BP: <input name="27" type="text">mmHg
                </div>
                <div class="first_">
                    术前用药：
                    <input name="28" type="checkbox" title="无" lay-skin="primary">
                    <input name="29" type="checkbox" title="有" lay-skin="primary">
                    (名称及剂量) <input name="30" type="text">
                </div>
                <div class="first_">
                    隔离指征：
                    <input name="31" type="checkbox" title="无" lay-skin="primary">
                    <input name="32" type="checkbox" title="有" lay-skin="primary">
                    (隔离原因) <input name="33" type="text">
                </div>
                <div class="first_">
                    患者带入物品及药品：
                    病历：
                    <input name="34" type="checkbox" title="无" lay-skin="primary">
                    <input name="35" type="checkbox" title="有" lay-skin="primary">
                    摄片：
                    <input name="36" type="checkbox" title="无" lay-skin="primary">
                    <input name="37" type="checkbox" title="有" lay-skin="primary">
                    （<input name="38" type="text">张)
                    贵重物品：
                    <input name="39" type="checkbox" title="无" lay-skin="primary">
                    <input name="40" type="checkbox" title="有" lay-skin="primary">
                </div>
                <div class="first_">
                    物品：
                    <input name="41" type="checkbox" title="无" lay-skin="primary">
                    <input name="42" type="checkbox" title="有" lay-skin="primary">
                    (腹带、胸带、水封瓶、引流袋、<input name="" type="text">)
                </div>
                <div class="first_">
                    药品：
                    <input name="43" type="checkbox" title="无" lay-skin="primary">
                    <input name="44" type="checkbox" title="有" lay-skin="primary">
                    (药品<input name="45" type="text">)
                </div>
                <div class="first_">
                    输液流畅：
                    <input name="46" type="checkbox" title="无" lay-skin="primary">
                    <input name="47" type="checkbox" title="有" lay-skin="primary">
                    (<input name="48" type="checkbox" title="流畅" lay-skin="primary">
                    <input name="49" type="checkbox" title="不畅" lay-skin="primary">
                    <input name="50" type="checkbox" title="肿胀" lay-skin="primary">
                    <input name="51" type="checkbox" title="渗出" lay-skin="primary">)
                    其他：<input name="52" type="text">
                </div>
                <div>
                    术前带入引流管:
                    <input name="53" type="checkbox" title="无" lay-skin="primary">
                    <input name="54" type="checkbox" title="有" lay-skin="primary">
                    (是否通畅：
                    <input name="55" type="checkbox" title="是" lay-skin="primary">
                    <input name="56" type="checkbox" title="否" lay-skin="primary">)
                </div>
                <div class="first_">
                    管道名称：
                    <input name="57" type="checkbox" title="尿管" lay-skin="primary">
                    <input name="58" type="checkbox" title="胃管" lay-skin="primary">
                    <input name="59" type="checkbox" title="脑室引流管" lay-skin="primary">
                    <input name="60" type="checkbox" title="腹腔引流管" lay-skin="primary">
                    <input name="61" type="checkbox" title="其他" lay-skin="primary">
                    <input name="62" type="text">
                </div>
                <div class="first_">
                    术前皮肤情况:
                    <input name="63" type="checkbox" title="完整" lay-skin="primary">
                    <input name="64" type="checkbox" title="压痕" lay-skin="primary">
                    <input name="65" type="checkbox" title="压红" lay-skin="primary">
                    <input name="66" type="checkbox" title="水疱" lay-skin="primary">
                    <input name="67" type="checkbox" title="其他" lay-skin="primary">
                    <input name="68" type="text">
                    <input name="69" type="checkbox" title="破损口" lay-skin="primary">
                    （部位/范围）<input name="70" type="text">
                </div>
                <div>
                    特殊情况：
                    <textarea id="71" cols="30" rows="10"></textarea>
                </div>
                <div class="first_ lastDiv">
                    交班病房：<input name="72" type="text">
                    交接护士：<input name="73" type="text">
                </div>
                <div class="first_ lastDiv">
                    手术室接班护士：<input name="74" type="text">
                </div>
                <div class="first_ lastDiv">
                    交班时间：
                    <input name="75" type="text">年
                    <input name="76" type="text">月
                    <input name="77" type="text">日
                    <input name="78" type="text">时
                    <input name="79" type="text">分
                </div>
            </div>
        </div>
    </div>
</body>

<script>
layui.use('form', function(){
  var form = layui.form;
 })

</script>
</html>