<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
	<link rel="stylesheet" href="~/Content/reset.css">
	<link rel="stylesheet" href="~/Content/PerinataPaper.css">
</head>
<body>
	<div class="medrecord">
        <p class="word">长期医嘱单</p>
        <div class="rigBtn">
             <a class="layui-btn">返回</a>
             <a class="layui-btn">重叠医嘱</a>
             <a class="layui-btn">打印</a>
        </div>
 	</div>
 	<div class="contenter">
	 	<table class="table">
			<tr>
				<td rowspan="2">开始时间</td>
				<td style="width:40%" rowspan="2">医嘱内容</td>
				<td rowspan="2">医师姓名</td>
				<td rowspan="2">执行时间</td>
				<td rowspan="2">护士签名</td>
				<td colspan="4">停止</td>
			</tr>
			<tr>
				<td>日期时间</td>
				<td>医师签名</td>
				<td>执行时间</td>
				<td>护士签名</td>
			</tr>
	 	</table>
	 </div>
</body>
</html>