<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/qualityControl.css">
    <script src="~/Scripts/layui/layui.js"></script>
    <style>
        .qualityTable textarea{
            width:80%;
            border:1px solid #ccc;
            padding:5px;
            resize:none;
            height:100px;
        }
        .qualityTable input{
            border:1px solid #999;
            border-radius:3px;
            padding-left:3px;
            height:23px;
            width:40%;
            text-align:left;
        }
        .newAdd{
	        padding:6px 6px 10% 6px;
        }
    </style>
</head>
<body>
	<div class="newAdd">
		<div class="medrecord">
			<span>上报科室</span>
			<select name="" id="">
				<option value="">全部</option>
				<option value="">一病区</option>
			</select>
			 <div class="rigBtn">
	         	<a class="layui-btn">删除</a>
	         	<a class="layui-btn">保存</a>
	         	<a class="layui-btn">打印</a>
	         	<a class="layui-btn">关闭</a>
	    	</div>
		</div>	
		<table class="qualityTable">
			<tr>
				<td style="width:190px;">姓名</td>
				<td><input type="text"></td>
				<td>性别</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>年龄</td>
				<td><input type="text"></td>
				<td>床位</td>
				<td><input type="text"></td>
			</tr>
			<tr class="layui-form">
				<td>住院号<input type="checkbox" title="外院"  lay-skin="primary"></td>
				<td><input type="text"></td>
				<td>家庭住址</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>讨论时间</td>
				<td><input type="text" id="test1"></td>
				<td>地点</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>参加讨论者</td>
				<td colspan="3"><textarea name="" id="" ></textarea></td>
			</tr>
			<tr>
				<td>病史摘要</td>
				<td colspan="3"><textarea name="" id=""></textarea></td>
			</tr>
			<tr>
				<td>术前诊断</td>
				<td colspan="3"><textarea name="" id=""></textarea></td>
			</tr>
			<tr>
				<td>讨论摘要：(参加讨论着发言及总结)</td>
				<td colspan="3"><textarea name="" id=""></textarea></td>
			</tr>
			<tr>
				<td>拟采用的手术方式</td>
				<td colspan="3"><input type="text"></td>
			</tr>
			<tr>
				<td>主刀</td>
				<td><input type="text"></td>
				<td>助手</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>手术时间</td>
				<td><input type="text" id="test"></td>
				<td>科主任</td>
				<td><input type="text"></td>
			</tr>
			<tr class="layui-form">
				<td>备注 <input type="checkbox" title="打印"  lay-skin="primary"></td>
				<td colspan="3"><textarea name="" id=""></textarea></td>
			</tr>
			
			<tr>
				<td colspan="4">评分标准：各项填写完整，详细10分；缺一项扣一分；记录过于简单扣2分</td>
			</tr>
		</table>
	</div>
</body>
<script src="layui/layui.js"></script>
<script>
layui.use(['laydate','form'],function () {
	var laydate = layui.laydate;
	var form = layui.form;
	laydate.render({
	  	elem:'#test',
	});
	laydate.render({
	  	elem:'#test1',
	});
})

</script>
</html>