<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/PerinataPaper.css">
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
	<div class="medrecord">
        <p class="word">产褥复旧</p>
        <div class="rigBtn">
             <a class="layui-btn">新增产科检查</a>
             <a class="layui-btn">新增产褥经过及治疗</a>
             <a class="layui-btn">打印</a>
        </div>
 	</div>
 	<div class="contenter">
 		<table class="table">
			<tr>
				<td colspan="13">产前检查</td>
			</tr>
			<tr>
				<td rowspan="2">日期</td>
				<td colspan="3">子宫</td>
				<td colspan="3">恶露情况</td>
				<td rowspan="2">会阴情况</td>
				<td rowspan="2">乳房</td>
				<td rowspan="2">乳头</td>
				<td rowspan="2">其他</td>
				<td rowspan="2">检查者</td>
				<td rowspan="2">操作</td>
			</tr>
			<tr>
				<td>宫底高度</td>
				<td>压痛</td>
				<td>硬度</td>
				<td>量</td>
				<td>色</td>
				<td>臭味</td>
			</tr>
			<tbody></tbody>
 		</table>
 		<table class="table top">
			<tr>
				<td>日期</td>
				<td>产褥经过及治疗</td>
				<td>检查者</td>
				<td>操作</td>
			</tr>

 		</table>
 	</div>
</body>

</html>