<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/PerinataPaper.css">
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
	<div class="medrecord">
        <p class="word">临时医嘱单</p>
        <div class="rigBtn">
             <a class="layui-btn">返回</a>
             <a class="layui-btn">打印</a>
        </div>
 	</div>
 	<div class="contenter">
	 	<table class="table">
			<tr>
				<td>开始日期时间</td>
				<td style="width:40%">医嘱内容</td>
				<td>医师</td>
				<td>执行时间</td>
				<td>执行者</td>
			</tr>
	 	</table>
	 </div>
</body>
</html>