<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/informed.css">
</head>
<body>
	<table  align="center" class="relatedTable">
        <tbody>
            <tr>
                <td style="font-size: 15px">
                <p>一、基本资料</p>
                <p>科室<input class="txt-underline"  name="txt10" value="脑外重症室" type="text" />姓名<input class="txt-underline"  name="txt0" value="项某某" type="text" />性别<input class="txt-underline"  name="txt1" value="女" type="text" /> 年龄<input class="txt-underline"  name="txt2" value="63岁" type="text" /> 床号<input class="txt-underline"  name="txt6" value="NICU02" type="text" /> 住院号<input class="txt-underline" " name="txt7" value="00095671" type="text" /></p>
                <p>入院日期：<input class="txt-underline"  name="txt11" type="text" />年<input class="txt-underline"  name="txt12" type="text" />月<input class="txt-underline"  name="txt13" type="text" />日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出院日期：<input class="txt-underline"  name="txt14" type="text" />年<input class="txt-underline"  name="txt15" type="text" />月<input class="txt-underline"  name="txt16" type="text" />日</p>
                <p>留置尿管日期：<input class="txt-underline"  name="txt17" type="text" />年<input class="txt-underline"  name="txt18" type="text" />月<input class="txt-underline"  name="txt19" type="text" />日&nbsp;&nbsp;&nbsp; 拔管日期：<input class="txt-underline"  name="txt20" type="text" />年<input class="txt-underline"  name="txt21" type="text" />月<input class="txt-underline"  name="txt22" type="text" />日</p>
                <p>基础疾病：1、昏迷&nbsp; 是<input type="checkbox" name="1" value="on" />&nbsp;否<input type="checkbox" name="2" value="on" />&nbsp; 2、躁动&nbsp; 是<input type="checkbox" name="3" value="on" />&nbsp;否<input type="checkbox" name="4" value="on" />&nbsp; 3、糖尿病&nbsp; 是<input type="checkbox" name="5" value="on" />&nbsp;否<input type="checkbox" name="6" value="on" /></p>
                <p>入院诊断：<input class="txt-underline"  name="txt23" type="text" /></p>
                <p>&nbsp;</p>
                <p>二、监测资料</p>
                <p>尿道口清洁：频次：<input class="txt-underline"  name="txt24" type="text" />次/日&nbsp;&nbsp; 清洁方法：<input class="txt-underline"  name="txt25" type="text" />&nbsp;&nbsp; 动静脉插管：<input class="txt-underline"  name="txt26" type="text" />&nbsp;&nbsp;&nbsp; 导尿管更换次数：<input class="txt-underline"  name="txt27" type="text" /></p>
                <p>尿管堵塞：1、从未发生<input type="checkbox" name="7" value="on" />&nbsp;&nbsp; 2、曾发生<input class="txt-underline"  name="txt28" type="text" />次&nbsp;&nbsp; 3、处理方式：<input class="txt-underline" " name="txt29" type="text" /></p>
                <p>抗菌药物使用种类、剂量、天数：</p>
                <p><textarea id="cbzd" style="border-top-width: 0px; overflow-y: visible; border-left-width: 0px; font-size: 12px; background: #d9eaff; border-bottom-width: 0px; overflow: hidden; width: 550px; height: 90px; border-right-width: 0px" rows="28" name="area10"></textarea></p>
                <p>&nbsp;</p>
                <p>三、医院感染资料</p>
                <p>医院感染：是<input type="checkbox" name="8" value="on" />&nbsp; 否<input type="checkbox" name="9" value="on" />&nbsp;&nbsp;&nbsp; 感染日期：<input class="txt-underline"  name="txt40" type="text" />年<input class="txt-underline"  name="txt41" type="text" />月<input class="txt-underline"  name="txt42" type="text" />日</p>
                <p>易感因素：1、糖尿病<input type="checkbox" name="10" value="on" />&nbsp; 2、抗生素<input type="checkbox" name="11" value="on" />&nbsp; 3、免疫抑制剂<input type="checkbox" name="12" value="on" />&nbsp; 4、营养不良<input type="checkbox" name="13" value="on" />&nbsp; 5、肿瘤<input type="checkbox" name="14" value="on" />&nbsp; 6、手术<input type="checkbox" name="15" value="on" />&nbsp; 7、WBC计数＜1.5X109/L<input type="checkbox" name="16" value="on" />&nbsp; 8、其他（请注明）：<input class="txt-underline"  name="txt43" type="text" /></p>
                <p>距留置尿管前最近一次尿管常规结果：<input class="txt-underline" name="txt44" type="text" /></p>
                <p>病原学检查：是<input type="checkbox" name="20" value="on" />&nbsp;否<input type="checkbox" name="22" value="on" />&nbsp;&nbsp;&nbsp; 送检日期<input class="txt-underline"  name="txt45" type="text" />年<input class="txt-underline"  name="txt46" type="text" />月<input class="txt-underline"  name="txt47" type="text" />日</p>
                <p>标本名称：<input class="txt-underline"  name="txt49" type="text" />&nbsp;&nbsp;&nbsp; 病原体：<input class="txt-underline"  name="txt48" type="text" /></p>
                <p>药敏结果：<input class="txt-underline" name="txt50" type="text" /></p>
                <p>是否每日评估留置尿管的必要性：是<input type="checkbox" name="17" value="on" />&nbsp;否<input type="checkbox" name="18" value="on" /></p>
                </td>
            </tr>
        </tbody>
</table>
</body>
</html>