<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MapConfig" type="FastData.Config.MapConfig,FastData"/>
  </configSections>

  <MapConfig>
    <SqlMap>
      <Add File="map/User.xml"/>
      <Add File="map/Inpatient.xml"/>
      <Add File="map/Transfer.xml"/>
      <Add File="map/Dept.xml"/>
    </SqlMap>
  </MapConfig>
</configuration>
