
.fl{
	float:left;
}
.fr{ float:right; }
.clearfix:after{
	content:'';
	height:0;
	display: block;
	clear:both;
	visibility: hidden;
}
.nav{
	width:100%;
	height:50px;
	background: #0A64A4;
}
.home_content{
	width:100%;
}
.home_content .home_header{
	width:96%;
	padding:5px 2%;
	background:#e6e6e6;
    position:relative;
}
.home_search{
    position:absolute;
    right:10px;
    top:5px;
}
.home_content .home_header .select_box{
	width:51%;
   	
}
.home_content select{
    height: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.search_input{
	width: 30%;
	height:28px;
	border:1px solid #e6e6e6;
	border-radius: 5px;
	padding-left:5px;
}
.home_content .layui-btn{
	height: 30px;
    line-height: 30px;
    padding: 0 16px;
}
.home_content .navbar{
	width:96%;
	padding:5px 2%;
	background:#f2f2f2;
	margin-top:5px;
	font-size: 14px;
	color:#666;
	position: relative;
}
.home_content .navbar .navLeft .navIntr{
	color:#FF6600;
} 
.home_content .navbar .navLeft .navIntr .num{ color:#000; }
.home_content .navbar .navLeft  .navbehalf{
	margin:0 10px;

}
.home_content .navbar .navLeft  .navbehalf .iconIll{
	color:#FF0000;
}
.home_content .navbar .navLeft  .navbehalf .iconWas{
	color:#9900FF;
}
.home_content .navbar .navLeft .navnurs .navFir,.navSec,.navThir{
	position: relative;
	margin-left: 5px;
}
.home_content .navbar .navLeft .navnurs .navFir i,
.home_content .navbar .navLeft .navnurs .navSec i,
.home_content .navbar .navLeft .navnurs .navThir i{
	display: block;
	height: 18px;
	width: 18px;
	position: absolute;
	left:0;
	top: 2px;
}
.home_content .navbar .navLeft .navnurs .navFir span,
.home_content .navbar .navLeft .navnurs .navSec span,
.home_content .navbar .navLeft .navnurs .navThir span{
	margin-left: 22PX;
}
.home_content .navbar .navLeft .navnurs .navFir .backImg{
	background:url('../Content/images/first.png') no-repeat;
    border:1px solid red;
}
.home_content .navbar .navLeft .navnurs .navSec .backImg{
	background:url('../Content/images/sec.png') no-repeat;
}
.home_content .navbar .navLeft .navnurs .navThir .backImg{
	background:url('../Content/images/thir.png') no-repeat;
}
.home_content .navRight{
	position: absolute;
	right:10px;
	top: 0;
}

/*切换视图弹窗*/
.msk{
	width:100%;
	height:auto;
	position: relative;

}
.msk .mskUls{
	width:98%;
	padding: 2% 0 2% 2%;
}
.msk .mskUls li{
	width:121px;
	height:117px;
	border:1px solid #ccc;
	background:#f5fafe;
	border-radius: 5px;
	float: left;
    margin:0 2% 2% 0;
    padding:15px 12px;
    box-shadow: 1px 1px 8px 0px #ccc;
}
.msk .mskUls li:hover{
	border:1px solid #0A64A4;
}
.msk .mskUls .msk_header h2{
	font-size: 16px;
	color:#0A64A4;	
	font-weight: bold;
}
.msk .mskUls .msk_header p{ color:#000; }
.msk_center{
	height:36px;
	line-height: 36px;
}
.msk_center h1{
	font-size: 20px;
	font-weight: bold;
}
.msk_center .img{
	width: 19px;
	height: 19px;
}
.msk_center .img img{
	width: 100%;
	height:100%;
}
.msk_last{
	font-size: 14px;
	line-height: 20px;
}
.msk_last .diag_reslut {
	display: inline-block;
	width: 64px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
