.nurContent{
	width: 99%;
	margin:0 5px;
}
.nurContent .nurTitle{
	border:1px solid #0A64A4;
}
.nursList{
	height: 37px;
	border-bottom:1px solid #ccc;
}
.nursList .nurUps {
	line-height: 37px;
    text-align: center;
    width: 390px;
    margin: 0 auto;
    position: relative;
}
.firNum{
	font-size: 18px;
	font-weight: bold;
	color: green;
	cursor: pointer;
}
.textNum{
	height:18px;
	border:1px solid #ccc;
	border-radius:3px;
	padding:3px;
	width: 120px;
}
.uls{
	position: absolute;
	top: 32px;
    left: 134px;
    width: 120px;
    background:#fff;
	border:1px solid #6495ED;
	display: none;
}
.uls li{
	height: 22px;
	line-height: 22px;
	border-bottom: 1px solid #6495ED;
}
.uls li:hover{
	background: #87CEFA;
	cursor: pointer;
}
.uls li .number{
	width: 17px;
    display: inline-block;
    text-align: center;
	border-right: 1px solid #ccc;
}
.lastLi{
	border-bottom:none;
	font-size: 21px;
	text-align: right;
	cursor: pointer;
	padding-right: 10px;
}
.lastLi .numFir{ color:red; }
.nurDown { 
	padding:0 10%;
	font-size: 14px;
}
.nurDown .temporary p i{
	display: inline-block;
	width:10px;
	height:10px;
}
.colorOn{ background:#4682B4 }
.colorTw{ background:#800000; }
.nurDown .record{  padding-top: 9px; }
.recordForm{ margin:5px; }
.tableList{
	width:100%;
	border:1px solid #ccc;
	text-align: center;
}
.tableList tr,.tableList tr td p{ border-bottom:1px solid #ccc;  }
.tableList tr td,.left{ border-right:1px solid #ccc; padding:3px 1px; }
.tableList tr td p span{
	display: inline-block;
	width: 40%;
}
.respoWord{
	font-size: 13px;
	line-height: 20px;
}
/*护理记录添加弹框*/
.nurdocumentAdd{
	width: 864px;
	height:682px;
	border:1px solid #ccc;
	margin:0 auto;
	padding:3px 6px;
	overflow: auto;
}
.mskTable td{ padding:3px;text-align: left; }
.mskTable td input[type=text],.leftEdit input{
	border:1px solid #999;
	width:30%;
	height:22px;
	padding-left:2px;
	border-radius: 3px;
}
.mskTable td:nth-child(2n-1){
	width:8%;
}
.amount{width:485px;}
.amountContent{
	width:406px;
	border:1px solid #6495ED;
	height:auto;
	padding:3px;
	position: relative;
}
.amountTable{ margin-bottom:5px; }
.amountTable,.outTable{
	 width:100%;
	 border:1px solid #999;
}
.amountTable tr td,.outTable tr td{
	width:48%!important;
	text-align: center;
}
.amountTable tr .last,.outTable tr .last{
	text-align: right;
}
.amountTable tr input,.outTable tr input{
	width:88%!important;
	border:none;
	height:20px;
}
.intake{
	position: absolute;
	right: -93px;
    top: 16%;
}
.moisture,.outMoisture,.outName{ position: relative; }
.calculator,.outCalculator{
	width:187px;
	border:1px solid #ccc;
	background: #fff;
	position: absolute;
	top:-92px;
	left:7px;
	display: none;
}
.numb,.outNumb{
	display: flex;
	-webkit-display:flex;
	-o-display:flex;
	-ms-display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	margin-bottom: 6px;
}
.numb li,.outNumb li{
	width:28px;
	height:28px;
	background: #6495ED;
	color:#fff;
	text-align: center;
	line-height: 28px;
	margin-top:5px;
	cursor: pointer;
}
.delet{ font-size:14px;line-height: 20px;cursor: pointer; }
.outList{
	background:#fff;
	width:100px;
	position: absolute;
	top:28px;
	left: 8px;
	border:1px solid #ccc;
	display: none;
}
.outList .outUl{
	height:100px;
	overflow: auto;
	font-size: 13px;
	text-align: left;
	cursor: pointer;
}
.layui-layedit {
    height: 190px;
    width: 100%;
}
.whrite{width:70%;}
.listBtn{margin-left:5px;}
.listBtn div{ margin-bottom:8px; }
.minBtn{ text-align:right; }
.margin{margin:8px 0;}
.startStop{
	position: absolute;
	top:0;
	right:280px;
}
.startStop #start,#ending{
	width:35%;
	border-radius:3px;
	height:20px;
	border:1px solid #ccc;
	padding-left:3px;
}
/*血糖检验编辑*/

.leftEdit{width:48%!important;}
.leftEdit p{ line-height: 25px; }
.leftEdit p input,.laborTable input,.pregnant input{
 	border:none;border-bottom: 1px solid #999;
 	padding-left: 3px; 
}
.figure{ 
	line-height: 30px;
 	margin-left:10px;
 	border-bottom: 1px solid #6495ED;
}

/*无证无卡孕产妇登记*/
.nurdocument{
	padding-bottom:6%;
	margin:5px;
}
.coner{
	width:70%;
	margin:0 auto;
}
.conTitle{
	font-size: 20px;
	text-align: center;
}
.pregnant input{ width:60%; padding-left:3px;height:20px;}
/*护理入院评估单*/
.view{
	color:#6495ED;
	cursor: pointer;
}
.sisplayList{
	width:90%;
	border:1px solid #ccc;
	text-align: left;
	padding-left:8%;
	display: none;
}
.sisplayList div{ margin-bottom:4px; }
.none{display: none;}
.left td:nth-child(2n){ text-align: left; }
.others,.sort{ width:8%; }
/*入院评估单查看*/
.nurViews{
	font-size: 15px;
	line-height: 25px;
	margin-left:15px;
}
.nurHeader{
	text-align: center;
	font-size: 20px;
}
.addW{ font-weight: bold; }
.baseList{ width:24%;float:left; }
.thirdUp{ width:50%;float: left; }
.thirdDo{ width:33%;float: left; }
.conter .title{ font-size: 13px;line-height: 23px; }
.addList input[type="text"],.JobNumber,.newInput{ 
	border:1px solid #999;
	width:88%;
	height:20px;
	padding-left: 3px;
	border-radius: 3px;
}
.left{ text-align:left; }
.marginTop{ margin:5px 0; }
.display{
	background: #EAEFF5;
	padding-left: 5%;
	padding-top:5px;
	/*display:none;*/
}
.marginTop tr td:nth-child(1){width:10%;}
.marginTop tr td:nth-child(2){text-align:left;}
.symList input[type="text"],.sortd,.hart{
	width:8%;
	border:none;
	padding-left:3px;
	border-bottom:1px solid #999;
}
.sortd{ width:15%!important; }
.hart{ width:8%!important;}
.textarea{
	border:1px solid #999;
	padding:5px;
	width:70%;
	height: 100%;
	resize: none;
}
.right{margin-left: 10px;}
.JobNumber{width:10%!important;height:23px;}
.newInput{ width:23%!important;height:23px;}
.jobs{ margin:6px 0; }
.danger{
	background: #EAEFF5;
	color: red;
	border:1px solid red;
	padding:5px;
	font-size: 17px;
	width:200px;
	margin:8px 0;
}
.layAll{ width:70%; }
.center{
	width:840px;
	margin:10px auto;
}
.lines{
	display:inline-block;
	width:85%;
	border-bottom: 1px solid #000;
}
.align{ text-align:center;font-size: 17px;font-weight: bold; }
.reds{ color:red; }
.wrong input{
	width:10%;
	border:1px solid #999;
	padding-left:3px;
	border-radius: 3px;
	height: 20px;
}
.names div{ line-height: 23px; }
.names div input{
	border:none;
	border-bottom: 1px solid #999;
	padding-left: 3px;
}
.noneLine{
	width: 10%;
	border:none;
	border-bottom:1px solid #999;
	padding-left:5px;
}
.wordP{
	height:30px;
	line-height: 30px;
}
.icond i{
	display:inline-block;
	width:15px;
	height:15px;
}
.icond .squareFir{ background:#B0C4DE; }
.icond .squareSec{ background:#F08080; }
.addHui tr input[type="text"]{
	border:none;
	height:23px;
	width:40%;
	background:#f3f3f3;
	padding-left: 3px;
}
.addHui textarea{
	width:98%;
	padding:3px;
	resize: none;
}