<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="~/Content/reset.css">
	<link rel="stylesheet" href="~/Content/qualityControl.css">
</head>
<body>
	<div class="qualityControl">
		<div class="article">
			<h3 class="article-title">你好吗</h3>
			<div class="article-cont">
				这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
			</div>
			<div class="article-time">
				<div class="person">发布人：<span>管理员</span></div>
				<div>发布时间：<span>2018-08-03 14:20:50</span></div>
			</div>
		</div>

	</div>
</body>
</html>