<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="~/Scripts/layui/css/layui.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/qualityControl.css">
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
	<div class="qualityControl">
		<div class="medrecord layui-container">
            <div class="layui-row">
                <div class="layui-col-md4">
                    <span>入院日期：</span>
                    <input type="text" id="start">-<input type='text' id="stop">
                </div>
                <div class="layui-col-md3">
                    <span>科室</span>
                    <select name="" id="">
                        <option value="">全部</option>
                        <option value="">血液</option>
                        <option value="">外科</option>
                    </select>
                </div>
                <div class="layui-col-md3">
                    <span>主治医师：</span>
                    <select name="" id="">
                        <option value="">所有</option>
                        <option value="">范医生</option>
                        <option value="">王医生</option>
                    </select>
                </div>
            </div> 
            <div class="rigBtn">
                <a class="layui-btn search">查询</a>
            </div>
         </div>
		<div class="textList">
			<p class="testWord">病人列表</p>
			<textarea name="" id="" cols="30" rows="10"></textarea>
			<p class="testWord">痕迹列表</p>
			<textarea name="" id="" cols="30" rows="10"></textarea>
		</div>
	</div>
</body>

<script>
	layui.use(['laydate','table'],function () {
		var laydate = layui.laydate;
		var table = layui.table;
		laydate.render({
	  		elem:'#start'
		});
		laydate.render({
	  		elem:'#stop'
		});

	})
</script>
</html>