
@{
    ViewBag.Title = "UserPassWordEdit";
    Layout = "~/Views/Shared/_Edit_Layout.cshtml";
}
<form class="layui-form" id="form1" action="">
    <div id="action_subm">
        <div class="submEdit">
            <div class="layui-form-item">

                <label class="layui-form-label">原密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="oldPassWord" id="oldPassWord" data-id="oldPassWord" lay-maxlength="20" placeholder="请输入原登录密码" autocomplete="off" lay-verify="required"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">

                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="newPassWord" id="newPassWord" data-id="newPassWord" lay-maxlength="20" placeholder="请输入新登录密码" autocomplete="off" lay-verify="required"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">

                <label class="layui-form-label">确认新密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="confirmPassWord" id="confirmPassWord" data-id="confirmPassWord" lay-maxlength="20" placeholder="请确认新登录密码" autocomplete="off" lay-verify="required|regPwd"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="lastBtn">
            <button class="layui-btn" lay-submit="" lay-filter="sub"><i class="iconfont" style="margin-right:2px;font-size:15px;">&#xe688;</i>保存</button>
            <button class="layui-btn" onclick="ShowWinClose();"><i class="iconfont" style="margin-right:2px;">&#xe63e;</i>关闭</button>
        </div>
    </div>
</form>

<!--JS-->
<script src="~/Scripts/ajaxfileupload.js"></script>
<script>
    var UserID = GetQueryString("UserID");
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        form.verify({
            regPwd: function (value) {
                //获取密码
                var pwd = $("#newPassWord").val();
                if (!new RegExp(pwd).test(value)) {
                    return '两次输入的密码不一致';
                }
            }
        });
        form.on('submit(sub)', function (data) {
            data.field["UserID"] = GetQueryString("UserID") + "";

            EWinsBase.json("api/Public/UserInfo/SavePassWord", {
                data: data.field,
                type: "POST",
                async: false,
                usedCache: false,
                success: function (config, data) {
                    layer.msg(data.msg, { time: 1000 },
                        function () {
                            var cur_tab_index = $(parent.document).find('body .my-body .layui-tab-card > .layui-tab-title .layui-this').attr('lay-id');
                            var wind = $("#tab_iframe_" + cur_tab_index, parent.document);
                            if (wind.length > 0) { wind[0].contentWindow.refreshTable(); }
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }
                    );
                },
                error: function (error) {

                }
            });
            return false;
        });
        form.render();
    });
</script>